{% load static %}

<!doctype html>
<html>
  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>성연이의 즐건 하루</title>
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/popup.css" %}">
    <link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

    <style>
      body { font-family:'roboto'; background-color:#ECF0F1; }
    </style>
  </head>

  <body>
    <div style="margin-top:30px; margin-bottom:30px; height:100px;  background-color: white;">
      <a href="{% url 'wkcalendar:index' %}">
        <img style="width: 150px; height: 50px; margin:30px 30px;" src="{% static 'img/onetouch2.png' %}" alt="">
      </a>
    </div>
    <div class="sum-layer">
        <div class="sumBg"></div>
        <div id="layer1" class="pop-layer">
            <div class="pop-container">
                <div class="pop-conts">
                    <!--content //-->
                    <p class="ctxt mb20">Weekeep<br>
                        <form action="{% url 'wkcalendar:delete_schedule' %}" method="POST" >
                          {% csrf_token %}
                          <p>일정을 지우시겠습니까?</p>
                          <input class='wk2day' type="hidden" name="day">
                          <input class='wk2time' type="hidden" name="time">
                          <div class="btn-r">
                              <button type='submit' class="btn-layerClose">Delete</button>
                              <a href="{% url 'wkcalendar:index' %}" class="btn-layerClose">Close</a>
                          </div>
                        </form>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="dim-layer">
        <div class="dimBg"></div>
        <div id="layer2" class="pop-layer">
            <div class="pop-container">
                <div class="pop-conts">
                    <!--content //-->
                    <p class="ctxt mb20">Weekeep<br>
                        <form action="{% url 'wkcalendar:add_schedule' %}" method="POST" >
                          {% csrf_token %}
                          <div>
                            <input type="text" placeholder="제목" name='title'>
                          </div>


                          <input type="hidden" value="위치" name='location'>
                          <input class='wkday' type="hidden" name="day">
                          <input class='wkstart'type="hidden" name="start">
                          <input class='wkend'type="hidden" name="end">

                          <div class='glyphicon glyphicon-time'>
                            <div class='wk-layer' style="margin-left: 20px; margin-right: 70px;">
                              <div style="margin-bottom: 10px; font-size:13px;">
                                <span class='wkday' style="font-size:13px;"></span>요일
                              </div>
                              <div>
                                <span class='wkstart'></span>
                              </div>
                            </div>
                            <div class='wk-layer'>
                              <div style="margin-bottom: 10px; font-size:13px;">
                                <span class='wkday' style="font-size:13px;"></span>요일
                              </div>
                              <div>
                                <span class='wkend'></span>
                              </div>
                            </div>
                          </div>
                          <div class="btn-r">
                              <button type='submit' class="btn-layerClose">Save</button>
                              <a href="{% url 'wkcalendar:index' %}" class="btn-layerClose">Close</a>
                          </div>
                        </form>
                    </p>

                </div>
            </div>
        </div>
    </div>
    <div>

      <div id="day-schedule"></div>

    </div>


    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
      <script src="{% static "js/index.js" %}"></script>
      <script>
        var data = JSON.parse("{{ all_schedule | escapejs }}");
        (function ($) {

          $("#day-schedule").dayScheduleSelector({

            days: [1, 2, 3, 4, 5, 6, 7],
            interval: 30,
            startTime: '0:00',
            endTime: '24:00'

          });
          $("#day-schedule").on('selected.artsy.dayScheduleSelector', function (e, selected) {
            console.log(selected);
          })
          $("#day-schedule").data('artsy.dayScheduleSelector').deserialize(
            data
            //'1': [['00:30', '11:00'], ['13:00', '16:30']],
          );
        })($);
    </script>
  </body>
</html>
