

.schedule-rows td {
  width: 80px;
  height: 30px;
  margin: 3px;
  padding: 5px;
  background-color: #ffffff;
  cursor: pointer;
  color: white;
}

.schedule-rows td:first-child {
  background-color: transparent;
  text-align: right;
  position: relative;
  top: -12px;
}
.schedule-rows td:nth-child(2) {
    background-color:  #ffcccc;
}

th:nth-child(2) {
    color: #cc0000;
}

th {
  padding-bottom: 10px;
}


.schedule-rows td[data-selected],
.schedule-rows td[data-selecting] { background-color: #304a8a; }

.schedule-rows td[data-disabled] { opacity: 0.55; }

td.time-label {
  color: #a9a9a9;
  margin: 0px;

  padding: 0px;
  padding-right: 5px;
  padding-bottom: 8px;
  font-size: 14px;
}

.schedule-header {
  color: #a9a9a9;
}

@media screen and (max-width: 768px) {
  #day-schedule {
    display: inline-block;
    float: left;
  }
  .schedule-table {
    margin-right:50px;
  }
}

@media screen and (min-width: 769px) {
  #day-schedule {
    display: inline-block;
    width: 700px;
    margin-left: 200px;
  }
  .schedule-table {
    margin-right:50px;
    margin: 0, auto;
  }
}
